{% extends "base.html.twig" %}

{% block body %}
<div>
    <h1 class="text-4xl mb-4">List of projects</h1>

    <div class="mb-4">
        {{ include('components/pagination.html.twig', {
            'page': page,
            'totalPages': totalPages
        }) }}
    </div>

    <ul>
        {% for project in projects %}
            <li class="mb-4">
                <a
                        href="{{ path('app_projects_show', { id: project.id }) }}"
                        class="p-4 bg-blue-50 rounded-xl flex justify-between items-center"
                >
                    <span class="mr-2">
                        {{ project.name }}
                    </span>

                    <span class="project-hits">
                        {{ project.hits }}
                    </span>
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
