{% extends "base.html.twig" %}

{% block body %}
<div>
    <h1 class="text-4xl mb-4">Project details</h1>

    <div class="flex justify-between">
        <span class="mb-4">Project name: {{ project.name }}</span>

        <span class="mb-4">Project hits: <span class="project-hits">{{ project.hits }}</span></span>
    </div>

    <div id="canvas-data-container" data-project="{{ rooms|json_encode }}">
        <canvas id="floor-map" class="border w-full"></canvas>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('canvasRenderer') }}

    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            const projectData = JSON.parse(document.getElementById('canvas-data-container').attributes['data-project'].value);
            const canvas = document.getElementById('floor-map');

            const renderer = new window.CanvasRenderer(projectData, canvas);
            renderer.renderProject();
        });
    </script>
{% endblock %}